
/* Proxima Nova */

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 100;
    font-style: normal;
    src: url('reg/Proxima\ Nova\ Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 300;
    font-style: normal;
    src: url('reg/Proxima\ Nova\ Light.otf') format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 500;
    font-style: normal;
    src: url('reg/Proxima\ Nova\ Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-style: normal;
    src: url('reg/Proxima\ Nova\ Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-style: normal;
    src: url('reg/Proxima\ Nova\ Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 800;
    font-style: normal;
    src: url('reg/Proxima\ Nova\ Extrabold.otf') format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 900;
    font-style: normal;
    src: url('reg/Proxima\ Nova\ Black.otf') format('opentype');
}

/* Proxima Nova Italics */

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 100;
    font-style: italic;
    src: url('reg/Proxima\ Nova\ Thin\ Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 300;
    font-style: italic;
    src: url('reg/Proxima\ Nova\ Light\ Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 500;
    font-style: italic;
    src: url('reg/Proxima\ Nova\ Regular\ Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-style: italic;
    src: url('reg/Proxima\ Nova\ Semibold\ Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-style: italic;
    src: url('reg/Proxima\ Nova\ Bold\ Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 800;
    font-style: italic;
    src: url('reg/Proxima\ Nova\ Extrabold\ Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 900;
    font-style: italic;
    src: url('reg/Proxima\ Nova\ Black\ Italic.otf') format('opentype');
}
