.lightbox {
    height: 100vh;
    background: #000;
    width: 100%;
    box-sizing: content-box;
}
.lightbox svg{
    color: #ffffff;
}
.container{
    width: 95%;
    margin: 0 auto; 
    padding-top: 20px;
    height: 100%;
}
.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}
.headRight{
    display: flex;
    gap: 12px;
    cursor: pointer;
    margin-top: 6px;
}
.headRight span{
    cursor: pointer;
}
.headLeft{
    display: flex;
    gap: 6px;
}
.headLeft span{
    cursor: pointer;
}
.headLeft svg{
    cursor: pointer;
}
.body {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: #ffffff;
    position: relative;
    height: 100%;
}
.box {
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.box img {
    display: block;
    width: 100%;
    max-width: 1000px;
    height: auto;
    aspect-ratio: 1.5;
}

.box h1 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 70px;
}

.auto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: calc(100% - 100px);
}

.arrow {
    padding: 14px;
    border: 1px solid #efefef;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.arrow:hover {
    background: #d1d1d17c;
}

.leftArrow {
    left: 0;
}

.rightArrow {
    right: 0;
}