.gallerySpreadImage {
    aspect-ratio: 2.5;
    cursor: pointer;
    position: relative;
    padding: 0;
    object-fit: cover;

    img {
        width: 100%;
        padding: 10px 10px;
        aspect-ratio: 2.5;
    }
}

.gallerySpreadImage2 {
    aspect-ratio: 1.5;
    cursor: pointer;
    position: relative;
    padding: 0;
    object-fit: cover;

    img {
        width: 100%;
        padding: 10px 10px;
        aspect-ratio: 1.5;
    }
}

.gallery-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    z-index: 10;
    width: 100%;
    background-color: white;
    height: 56px;
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

.image-gallery {
    position: relative;
}

.gallery-container {
    height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 32px;
}

.gallery-title {
    font-size: 18px;
    font-family: $font-family-secondary;
    color: #002266;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 16px;
}

.cursor-pointer {
    cursor: pointer;
}

.gallery-divider {
    height: 20px;
    border: 1px solid #002266;
    width: 0px;
}

.gallery-number {
    color: black;
    font-size: 14px;
    font-weight: 400;
}