.mosaicGroup {
    height: 322px;
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    @include media-breakpoint-down(xl) {
        height: 400px;
        width: 100%;
    }
    @include media-breakpoint-down(md) {
        height: 322px;
    }
    @include media-breakpoint-down(sm) {
        height: 240px;
    }
}

.mosaicImage {
    cursor: pointer;
    position: relative;
    padding: 0;
    box-sizing: border-box;

    img {
        width: 100%;
        height: 100%;
        padding: 6px 6px;
        box-sizing: border-box;
        object-fit: cover;
    }
}

.mosaicImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: black;
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    transition: all 0.3s ease;
    margin: 6px 6px;
    &:hover {
        opacity: 0.2;
    }
}

.galleryBox {
    position: absolute;
    width: 100%;
    height: 100vh;
    border: 2px solid #000;
    box-shadow: 24;
    overflow: auto;
    background-color: black;
}
