// overrides first
$primary: #002a63;
$secondary: #4592CF;
$tertiary: #EAF4FF;
//$link-color: #0000ee;
//$navbar-dark-color: #fff;
//$display-font-weight: 700;
//$font-family-sans-serif: Roboto, Poppins, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-sizes: (
  5: 0.875rem,
  6: 0.8rem
);

// and then import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// navbar override - this is used by the toggleHeader component to have the collapse fill full screen when expanded
@include media-breakpoint-down(md) {
    .mobile-header {
      height: 95vh;
    }
}

// general classes
.footer-icon {
  width: auto;
  cursor: pointer;
  width: auto;
}

.footer-icon:hover {
  color:#4592CF
}

// About Page Classes
#about-landing-image {
  height: 350px;
  background-color: #868686;
}

#who-are-we {
  max-width: 850px;
  padding-top: 60px;
  padding-bottom: 80px;

  @media screen and (max-width: 1200px) {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

#mission-vision-section {
  min-height: 100px;
  background-color: #EAF4FF;
}

#mission-vision {
  max-width: 1000px;
  position: relative;
  top: -110px;
}

#about-bible-verse {
  max-width: 850px;
}

.verse-bar {
  width: 171px;
  height: 5px;
}
  
#why-the-name-section {
  min-height: 100px;
}

#why-the-name {
  max-width: 1000px;
  position: relative;
  top: -110px;
}

.why-content {
  max-width: 800px;
}

.why-bar {
  width: 100%;
  height: 2px;
  background-color: #cecece;
}

#team-image {
  height: 350px;
  background-color: #868686;
  top: -50px;
  position: relative;
}

#team-container {
  max-width: 1000px;
}

.team-box {
  background-color: #EFEFEF;
}

#partners-section {
  min-height: 100px;
  background-color: #EAF4FF;
}