// overrides first
$primary: #002a63;
$secondary: #4592CF;
//$link-color: #0000ee;
//$navbar-dark-color: #fff;
//$display-font-weight: 700;
//$font-family-sans-serif: Roboto, Poppins, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-sizes: (
  1: 2rem,
  2: 1.5rem,
  3: 1.25rem,
  4: 1rem,
  5: 0.875rem,
  6: 0.8rem
);

// and then import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// navbar override - this is used by the toggleHeader component to have the collapse fill full screen when expanded
@include media-breakpoint-down(md) {
    .mobile-header {
      height: 95vh;
    }
}

// general classes
.footer-icon {
  width: auto;
  cursor: pointer;
  width: auto;
}

.footer-icon:hover {
  color:#4592CF
}
  