@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// -------------------------
// Text content Section
// -------------------------
.main-content {
    font-size: 1.125rem;
}

// -------------------------
// Collapse/Accordion Section
// -------------------------

button.collapse-label {
    font-family: $font-family-secondary;
    background-color: transparent !important;
    color: $primary !important;
    border-color: white !important;
}

hr {
    margin: 2rem 0;
}

// -------------------------
// Downloadables Section
// -------------------------

.topic-downloadables {
    border-radius: 0.25rem;
    background: $grey-1;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);

    svg {
        width: 2rem;
        height: 2rem;
        flex-shrink: 0;
        margin-right: 0.5rem;
    }

    &.disabled {
        background: $grey-4;
        cursor: not-allowed;
        color: $grey-1;
    }
}
